<div class="col-md-12" ng-controller="AskASpecialistCtrl">

	<!-- Content body starts here -->
  <div class="wrapper">
    <div class="container">
      <!-- ask row starts here -->
      <section class="row ask">
        <div class="col-md-7">
          
          <h2 class="text-uppercase ask-q semi-bold">
            <a href="#/home/myquestions" class="bg-light-yellow back-btn"></a>
            Ask a Specialist
          </h2>

        </div>
        <div ng-show="showShortURL" class="pull-right">
          <button class="btn btn-primary btn-large text-uppercase custm-btn" type="button">
          <strong>http://ow.ly/17263</strong></button>
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-primary btn-large text-uppercase custm-btn dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            <strong>
              QID:  AIPM-{{ticket.id}}
              </strong>
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Dropdown link</a></li>
              <li><a href="#">Dropdown link</a></li>
            </ul>
          </div>
        </div>
      </section><!-- ask row ends here -->

      <section class="query">
        <h1>{{ticket.subject}}</h1>
      </section>

      <!-- chat section starts here -->
      <div class="chat-box" id="content-1">
        <ul class="chat" id="examples">
          <li ng-repeat="data in chat.messages track by $index">
            <!--<span chat-bubble-directive='data' is-bot="isBot" callback="sendMessage(message)" command="runCommand(message)" user-role="userRole"></span>-->
            <span chat-bubble-output='data' is-bot="isBot" callback="sendMessage(message)" command="runCommand(message)" user-role="userRole" params="chatParams"></span>
          </li>
          <li ng-show="showStars">
							<div class="col-sm-1">
                <span class="chat-img">
                  <img src="/assets/images/avatar-1.png" alt="Bot"  />
                </span>
              </div>
              <div class="chat-body col-sm-7 bubble-margin">
                <small class="txt-orange">
									<div star-rating rating-value="0" max="5" on-rating-selected="ratingGiven(rating)"></div>
                </small>
                <span class="left-pointer"></span>
              </div>
          </li>
          <li ng-show="isBotTyping" class="left clearfix">
              <div class="col-sm-1">
                <span class="chat-img">
                  <img src="/assets/images/avatar-1.png" alt="Bot"  />
                </span>
              </div>
              <div class="chat-body col-sm-7">
                <small class="txt-orange">Typing...</small>
                <span class="left-pointer"></span>
              </div>
          </li>
        </ul>
      </div>
      <!-- chat section ends here -->
    </div> <!-- container ends here  -->
  </div> <!-- wrapper ends here -->
  <!-- Content body here -->

  <!-- Footer starts -->
  <footer class="footer navbar-fixed-bottom ">
    <div class="container">
      <form class="form-horizontal" role="form">
        <div class="form-group">
          <div class="col-sm-10">
            <input type="text" class="form-control mw-custom" id="inputPassword2" placeholder="Type your response here" ng-model="chat.input" />
          </div>
          <a href="" class="btn attach"></a>
          <button ng-disabled="!chat.isActive" ng-click="sendMessage()" type="submit" class="btn btn-lg mw-snd-btn btn-default">Send</button>
        </div>
      </form>
    </div>
  </footer>
  <!-- Footer ends -->

  <div ng-include="'app/ask-a-specialist/related-articles/_related-articles.html'"></div>
</div>