<div ng-show='showResetPasswordForm'>
  <div class="modal-header text-center">
    <button type="button" class="close" data-dismiss="modal" ng-click='cancel()'><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <h2 class="blue-color text-uppercase remove-space">
      <strong>Reset your Password</strong>
    </h2>
  </div>
  <div class="modal-body">
    <div class="row">
      <form role="form" class="custom-offset col-md-9 text-center">
        <div class="form-group">
          <input type="password" class="form-control" id="reset_password_password" placeholder="New Password" ng-model='credentials.password' compare-to='credentials.confirmPassword' do-validation-and-comparison="true" validation-message="Password must be of 6 characters" required>
        </div>
        <div class="form-group">
          <input type="password" class="form-control" id="reset_password_password_confirmation" placeholder="Confirm Password" ng-model='credentials.confirmPassword' compare-to="credentials.password" activate-on="keyup" required>
          <p ng-hide="validComparison" class="validation-error"> Passwords do not match. </p>
        </div>
        <button type="submit" class="btn btn-lg btn-big login btn-default text-uppercase semi-bold" ng-click='resetPassword(credentials.password)' ng-disabled="!isValidForm">RESET</button>
      </form>
    </div>
  </div>
  <div class="modal-footer text-center">
    <p class="text-center blue-color remove-space">If you continue to have difficulties accessing your account, please contact us at <a href=""><strong>support@mwize.com.</strong></a></p>
  </div>
</div>

<div ng-show='showResetPasswordConfirmation'>
  <div class="modal-header text-center">
    <button type="button" class="close" data-dismiss="modal" ng-click='cancel()'><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <h2 class="blue-color text-uppercase remove-space"><strong>Password reset</strong></h2>
  </div>
  <div class="modal-body">
    <div class="row">
      <div  class="custom-offset col-md-9 text-center">
        <p class="blue-color">
          Your password has been successfully reset.
          You may now login to mWize
        </p>
        <form role="form">
          <button type="submit" class="btn btn-lg btn-big login btn-default text-uppercase semi-bold" ng-click='ok()'>Login</button>
        </form>
      </div>
    </div>
  </div>
  <div class="spacer"></div>
  <div class="modal-footer text-center">
    <p class="text-center blue-color remove-space">If you have a different problem accessing your account, please contact us at <a href=""><strong>support@mwize.com.</strong></a></p>
  </div>
</div>

<div ng-show='showTokenExpirationError'>
  <div class="modal-header text-center">
    <button type="button" class="close" data-dismiss="modal" ng-click='cancel()'><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <h2 class="blue-color text-uppercase remove-space"><strong>Sorry</strong></h2>
  </div>
  <div class="modal-body">
    <div class="row">
      <div  class="custom-offset col-md-9 text-center">
        <p class="blue-color">
          Your password reset link has expired.
        </p>
        <!-- <form role="form">
          <button type="submit" class="btn btn-lg btn-big login btn-default text-uppercase semi-bold" ng-click='cancel()'>Login</button>
        </form> -->
      </div>
    </div>
  </div>
  <div class="spacer"></div>
  <div class="modal-footer text-center">
    <p class="text-center blue-color remove-space">If you have a different problem accessing your account, please contact us at <a href=""><strong>support@mwize.com.</strong></a></p>
  </div>
</div>
